<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogToConsole="true">

	<targets async="true">
		<!-- fileName="${environment:logDir}/log/${shortdate}.log" -->

		<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
				layout="${time} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${newline} ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}">

			<highlight-row condition="equals(logger,  'SQL')" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
		<target name="logfile"
				xsi:type="File"
				fileName="${currentdir}/logs/${environment:AppName}/${shortdate}.log"
				layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} [${threadid}] ${logger} ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
				maxArchiveFiles="0"
				archiveAboveSize="10240000"
				archiveEvery="Day"
				encoding="utf-8" />
		<target name="Errorlogfile"
				xsi:type="File"
				fileName="${currentdir}/logs/${environment:AppName}/Exception_${shortdate}.log"
				layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} [${threadid}] ${logger} ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
				maxArchiveFiles="0"
				keepFileOpen="false"
				archiveAboveSize="10240000"
				archiveEvery="Day"
				encoding="utf-8" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="coloredConsole" />
		<logger name="*" minlevel="Debug" maxlevel="Info" writeTo="logfile" />
		<logger name="*" minlevel="Warn" writeTo="Errorlogfile" />
	</rules>
</nlog>